pkgbase = goenv
	pkgdesc = Like pyenv and rbenv, but for Go.
	pkgver = 2.0.0beta11
	pkgrel = 1
	url = https://github.com/syndbg/goenv
	arch = i686
	arch = x86_64
	license = MIT
	source = goenv-2.2.18.tar.gz::https://github.com/go-nv/goenv/archive/refs/tags/2.2.18.tar.gz
	md5sums = 789a9d83cb97d7cd2f22f748cd46d9bd

pkgname = goenv

